/* styles.css */
.roleContainer {
  display: flex;           /* Enables flexbox layout */
  justify-content: center; /* Centers items horizontally */
  align-items: center;     /* Centers items vertically */
  background-color: transparent;
}
.selected {
    background-color: #2B3487;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    margin: 5px;
  }
  
  .unselected {
    background-color: white;
    color: #2B3487;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    margin: 5px;
  }
  