.topSection {
  display: flex;
  /* Use flexbox to align children horizontally */
  align-items: start;
  /* Ensure both items (SearchBar and voucherBalanceContainer) are aligned vertically */
  justify-content: space-between;
  width: 100%;
  margin-bottom: 25px;
}

.voucherBalanceContainer {
  display: flex;
  justify-content:space-between;
  align-items: center;
  height: 40px;
  background-color: white;
  color: #2B3487;
  padding: 0px 10px;
  border-radius: 10px;
  font-size: 1vw;
  font-weight: bold;
  margin-left: 25px;
  border: 2px solid #2B3487;
  box-sizing: border-box;
}

.tasksGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
  width: 100%;
  align-items: center;
  padding: 0; /* Ensure no padding is added to the grid */
  margin: 0;  /* Remove any default margins */
}

.addButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 250px;
  background-color: white;
  border: 2px solid #A24C3B;
  border-radius: 8px;
  cursor: pointer;
}

.addButtonText {
  font-size: 70px;
  color: #A24C3B;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

}

.modal {
  background-color: white;
  width: 80%;
  /* Set the modal width */
  max-width: 600px;
  /* Add a max-width for smaller screens */
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  /* Center the text inside the modal */
  overflow-y: auto;
  max-height: 80vh;
}

.modalHeader {
  margin-bottom: 16px;
  font-size: 24px;
  text-align: center;
  color: #5f4b8b;
}

.label {
  font-size: 14px;
  color: black;
  font-weight: bold;
  margin: 10px;
  text-align: left;
}

.input,
.textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.textarea {
  height: 80px;
  resize: none;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
}

.taskButtonContainer {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  /* Stack buttons vertically */
  gap: 10px;
  margin-top: 20px;
  align-items: center;
}

.saveButton,
.cancelButton {
  width: 100px;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.saveButton {
  background-color: #2B3487;
  color: white;
}

.cancelButton {
  background-color: #9C3726;
  color: white;
  margin-top: 25px;
}

.modalOverlayTaskDetails {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1100;
}

.modalTaskDetails {
  width: 80%;
  max-width: 800px;
  padding: 25px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Centers the modal header */
  z-index: 1200;
  overflow-y: auto;
  max-height: 80vh;
}

.modalTaskDetailsHeader {
  margin-bottom: 25px;
  font-size: 30px;
  text-align: center;
  /* Center the header */
  color: #2B3487;
  width: 100%;
  
}

.modalContent {
  display: flex;
  width: 100%;
  gap: 50px;
  padding-left: 50px;
  padding-right: 50px;

}

.modalLeft,
.modalRight {
  flex: 1

}

.modalLeft {
  display: flex;
  justify-content: center;
  align-items: center;
  

}

.modalRight {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: center;
  /* To provide space between image and text */
}

.taskDetail {
  margin-bottom: 12px;
  font-size: 16px;
  color: black;
}

.taskDetail strong {
  color: #5f4b8b;
}

.taskImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #2B3487;
  border-radius: 8px;
}

.taskImage img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 8px;
}

.grayImage {
  width: 100%;
  height: 100%;
  background-color: #e0e0e0;
}

.categorySection {
  display: flex;
  justify-content: flex-start; /* Align buttons to the left */
  gap: 25px; /* Set exactly 25px gap between buttons */
  margin-bottom: 20px;
}

.categoryButton {
  background-color: #9C3726;
  border: 2px solid #9C3726;
  color: white;
  padding: 0px 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  font-size: 16px;
  height: 50px;
  width: 150px
}



.categoryButton:hover {
  background-color: #68180a;
  color: white;
}




/* Responsive adjustments */
@media (max-width: 1200px) {
  .tasksGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 800px) {
  .tasksGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .tasksGrid {
    grid-template-columns: 1fr;
  }

}

.voucherBalanceText {
  text-align: center;
}