.App {
  text-align: center;

}

body {
  background-color: #6B71AA;
  color: white;
  font-weight: bold;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.large-heading {
  font-size: 30px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 25px;
}

.line {
  border: none;
  border-top: 2px solid #2B3487;
  margin-bottom: 25px;
}

.vertical-line {
  border: none;
  border-left: 2px solid #2B3487;
  /* Makes the line vertical */
  margin-left: 50px;
  margin-right: 50px;
}

.slick-prev,
.slick-next {
  position: absolute;
  top: 50%;
  /* Center vertically */
  transform: translateY(-50%);
  z-index: 10;
  /* Ensure buttons are above all other elements */
  pointer-events: auto;
}

.slick-slider {
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
}

.slick-slide>div {
  margin-inline: 12.5px;
}

.slick-track {
  display: flex;
  /* Ensures consistent spacing between slides */
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}